// ваш код
a {
  color: black;
}
ul,
li {
  all: unset;
}

.container {
  max-width: 1440px;
}

.header__logo .logo img {
  width: 162px;
  height: 49px;
}

.header__row {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__container {
  display: flex;
  gap: 20px;
}
.form_custom {
  outline: none;
  border: none;
  background-color: #f1f2f2;
  color: #1b1918;
  font-size: 14px;
  font-family: "Golos Text-Regular", Helvetica;
  font-weight: 400;
  padding-left: 24px;
  border-radius: 5px;
  width: 345px;
  height: 50px;
  box-sizing: border-box;
}
.form_custom::placeholder {
  color: #1b1918;
}

.form_button {
  width: 200px;
  height: 50px;
  background-color: #e91919;
  color: #f8f8f8;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
}

.form_button:hover {
  background-color: #cb0d0d;
}

.header__nav-menu {
  display: flex;
  gap: 40px;
}

.link {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1b1918;
}

.link :hover {
  color: red;
}

@media (max-width: 1024px) {
  .form_custom {
    width: 275px;
  }
  .form_button {
    width: 175px;
  }
  .form__container {
    gap: 10px;
  }
  .header__nav-menu {
    padding-left: 10px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    order: 1;
  }

  .form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__row {
    flex-wrap: wrap;
  }

  .header__nav {
    display: none;
    padding-top: 20px;
    box-sizing: border-box;
    // order: 3;
  }

  .header__form {
    order: 2;
    display: none;
  }

  .header__nav-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .search-mob {
    display: block !important;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .header__form-mob {
    order: 1;
  }
}
.search-mob {
  display: none;
}

// // для смартфонов — 320 px, 480 px и выше;
// // для планшетов — 768 px и выше;
// // для нетбуков — 1024 px и выше;
// // для мониторов — 1280 px, 1600 px, 1920 px и выше.

// @media (min-width: 768px){
//   .burger-menu {
//     display: none;
//   }
// }

// .burger-menu {
//   position: relative;

// }

// .burger-menu__content {
//   display: none;
//   position: absolute;
//   top: 100%;
//   left: 100%;
//   background-color: white;
//   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
//   z-index: 1000;

// }

// .burger-menu__content--visible {
//   display: block;
// }

// .burger-menu__button {
//   background: none;
//   border: none;
//   cursor: pointer;
//   display: flex;
//   align-items: center;
// }

// .burger-menu__icon {
//   width: 30px;
//   height: 2px;
//   background-color: black;
//   position: relative;
// }

// .burger-menu__icon::before,
// .burger-menu__icon::after {
//   content: "";
//   position: absolute;
//   width: 30px;
//   height: 2px;
//   background-color: black;
// }

// .burger-menu__icon::before {
//   top: -10px;
// }

// .burger-menu__icon::after {
//   top: 10px;
// }

/* Стили для отображения на экранах с шириной менее 768px */
/* Стили для экранов с шириной менее 768px */
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }

  .header__form {
    display: none;
  }

  .burger-menu {
    display: block;
    position: relative;
  }

  .burger-menu__content {
    display: none;
    position: fixed;
    top: 100px; /* Высота шапки + отступ между шапкой и меню, при необходимости скорректируйте */
    border-radius: 15px;
    left: 3%;
    width: 94%;
    height: calc(100% - 100px); /* Высота экрана минус высота шапки */
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
  }

  .burger-menu__content--visible {
    display: block;
  }

  .burger-menu__button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .burger-menu__icon {
    width: 30px;
    height: 2px;
    background-color: black;
    position: relative;
  }

  .burger-menu__icon::before,
  .burger-menu__icon::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: black;
  }

  .burger-menu__icon::before {
    top: -10px;
  }

  .burger-menu__icon::after {
    top: 10px;
  }
}

/* Стили для экранов с шириной более 768px */
@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.burger__nav-menu {
  display: flex;
  flex-direction: column;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #1b1918;
}
.no-scroll {
  overflow: hidden;
}