.main__banner {
  padding-top: 50px;
  box-sizing: border-box;
  position: relative;
}

.main__banner--img,
.main__baneer--img-mob {
  position: relative;
}

.main__banner img {
  display: block;
  width: 100%;
  height: auto;
}

.banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.main__baneer--img-mob {
  display: none; /* Скрываем мобильное изображение по умолчанию */
}

.banner__title {
  font-size: 56px;
  color: #1b1918;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 67px;
}

.banner__subtitle {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #1b1918;
}

.form_custom-banner {
  outline: none;
  border: none;
  border-radius: 10px;
  width: 954px;
  height: 72px;
  background: #fefefe;
  padding-left: 50px;
}

.form_custom-banner::placeholder {
  color: #1b1918;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.input-with-button {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Выравнивание содержимого справа */
  position: relative;
}

.form__container-banner {
  display: flex;
  position: relative;
}

.form_button-banner {
  margin-left: -211px;
  width: 200px;
  height: 50px;
  background-color: #e91919;
  color: #f8f8f8;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
}

.form_button-banner:hover {
  background-color: #cb0d0d;
}
.form_button-banner-icon {
  display: none;
}
.main__baneer--img-mob {
  display: none;
}

@media (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 58px;
  }

  .banner__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .form_custom-banner {
    width: 100%;
    height: 60px;
    font-size: 16px;
    line-height: 20px;
    padding-left: 24px;
    margin-bottom: 7px;
  }

  .form_button-banner {
    height: 60px;
    font-size: 14px;
    line-height: 18px;
    margin-left: 0;
  }

  .input-with-button {
    justify-content: center; /* Центрирование кнопки внутри поля */
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .main__banner--img {
    display: none; /* Скрываем десктопное изображение */
  }

  .main__baneer--img-mob {
    display: block; /* Показываем мобильное изображение */
  }
  .banner__title {
    padding-top: 30px;
    line-height: 0px;
    font-weight: 600;
    font-size: 32px;
    color: #1b1918;
  }

  .input-with-button {
    flex-wrap: wrap;
    gap: 10px;
  }
  .form_custom-banner {
    height: 45px;
  }
  .form_button-banner {
    height: 40px;
  }

  .form_custom-banner::placeholder {
    color: #1b1918;
    font-family: "Golos Text";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }
}

// _____________________________

.main__numbers {
  padding-top: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numbers__heading {
  font-weight: 600;
  font-size: 36px;
  color: #1b1918;
}

.number__row {
  display: flex;
  gap: 20px;
}

.number__item {
  border-radius: 10px;
  // max-width: 467px;
  width: 467px;
  height: 140px;
  background: #fff;
}

.number__block {
  display: flex;
  justify-content: space-between;
}

.number__title {
  padding-top: 37px;
  padding-left: 46px;
  font-weight: 600;
  font-size: 36px;
  color: #1b1918;
  font-family: "Golos Text";
  font-style: normal;
  line-height: 43px;
  box-sizing: border-box;
}

.number__subtitle {
  padding-top: 10px;
  padding-left: 46px;
  color: #1b1918;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  box-sizing: border-box;
}

.number__icon {
  padding-right: 28px;
  padding-top: 15px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .number__item {
    width: 340px;
  }
}

@media (max-width: 768px) {
  .main__numbers {
    flex-wrap: wrap;
    justify-content: center;
  }
  .number__row {
    padding-top: 20px;
  }
}
@media (max-width: 481px) {
  .main__numbers {
    flex-wrap: wrap;
  }
  .number__row {
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center;
  }
  .number__item {
    max-width: 100%;
    width: 100%;
  }
}

//_____________________________

.comment__title {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #1b1918;
  padding-top: 100px;
}

.comment__block {
  padding-top: 60px;
  box-sizing: border-box;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.comment__block--item {
  max-width: 1440px;
  padding: 10px 10px;
  border-radius: 10px;
  background: #fff;
  box-sizing: border-box;
}

.comment__item--top {
  display: flex;
  padding-top: 38px;
  padding-left: 30px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.comment__item--top-l {
  display: flex;
}

.comment__item--top-r {
  display: flex;
}

.comment__item--num {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #1b1918;
}

.comment__item--flag {
  border: 1px solid #ea1919;
  border-radius: 5px;
  padding: 7px 22px 7px 20px;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ea1919;
  margin-left: 20px;
  box-sizing: border-box;
}

.comment__item--date {
  margin-right: 20px;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ababab;
  box-sizing: border-box;
}

.comment__item--time {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ababab;
  padding-right: 37px;
  box-sizing: border-box;
}

.comment__item--line-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0px 30px;
  padding-top: 25px;
  box-sizing: border-box;
}
.comment__item--line {
  flex-grow: 1;
  border-top: 1px solid #f5f5f5;
}

.comment__item--bottom {
  padding-left: 30px;
  box-sizing: border-box;
}

.comment__item--name {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ababab;
  padding-top: 23px;
}

.comment__item--text {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #1b1918;
}

.comment__item--foot {
  display: flex;
  align-items: center;
}

.commet__item--tag {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ababab;
}

.commet__item--button-y {
  border-radius: 5px;
  height: 40px;
  background: #f8f8f8;

  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1b1918;
  padding: 0 15px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  margin-left: 35px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.commet__item--button-n {
  border-radius: 5px;
  height: 40px;
  background: #f8f8f8;

  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1b1918;
  padding: 0 20px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.img__yes {
  padding-left: 12px;
  box-sizing: border-box;
}

.img__no {
  padding-left: 12px;
  box-sizing: border-box;
}

.comment__control {
  display: flex;
  justify-content: center;
  margin-left: auto;
}
.comment__control--btn {
  border-radius: 5px;
  width: 200px;
  height: 50px;
  background: #ea1919;

  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fefefe;
  cursor: pointer;
  border: none;
  padding: 0 44px;
}

.comment__control--btn:hover {
  background-color: #cb0d0d;
}
.comment__pagination {
  display: flex;
  gap: 40px;
  margin-left: 275px;
}

.comment__pagination--activ {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #ababab;
  width: 56px;
  height: 56px;

  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fafdff;
}

.comment__pagination--default {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2a2a2a;
}

.comment__pagination--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  stroke-width: 1px;
  stroke: #ababab;
  width: 56px;
  height: 56px;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .comment__title {
    padding-top: 21px;
    font-family: "Golos Text";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #1b1918;
  }

  .comment__item--num {
    font-family: "Golos Text";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #ea1919;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .comment__item--top {
    flex-wrap: wrap;
  }
  .comment__item--flag {
    font-family: "Golos Text";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #ea1919;
    padding: 7px 10px 7px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .comment__item--name {
    font-family: "Golos Text";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #ababab;
  }
  .comment__item--text {
    font-family: "Golos Text";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .comment__item--foot {
    flex-wrap: wrap;
  }
  .commet__item--button-y {
    margin-left: 0;
    padding: 0 15px;
    margin-top: 13px;
  }
  .comment__control {
    margin-left: 0;
  }

  .comment__pagination {
    display: none;
  }
}

//_______________________

.main__blog {
  padding-top: 100px;
  box-sizing: border-box;

}

.main__blog--title {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #1b1918;

}
.blog__container{
  display: flex;
  gap: 20px;
}
.main__blog--item {
  padding-top: 60px;
  box-sizing: border-box;
  max-width: 467px;
  overflow: hidden;
}

.blog__banner{
  max-width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.blog__banner img{
  height: 100%;
  width: 100%;
}
.blog__subtitle {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #1b1918;
  padding-top: 36px;
  box-sizing: border-box;
}

.blog__desc {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1b1918;
  padding-top: 20px;
  box-sizing: border-box;

}

.blog__item--btn {
  padding-left: 0;
  font-weight: 500;
  font-size: 14px;
  color: #ea1919;
  background-color: #fafafa;
  cursor: pointer;
  border: none;
  padding-top: 40px;
  box-sizing: border-box;
}
.blog-banner-img{
  max-width: none !important;
}
