.main__banner {
  padding-top: 50px;
  box-sizing: border-box;
  position: relative;
}

.main__banner--img,
.main__baneer--img-mob {
  position: relative;
}

.main__banner img {
  display: block;
  width: 100%;
  height: auto;
}

.banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.main__baneer--img-mob {
  display: none; /* Скрываем мобильное изображение по умолчанию */
}

.banner__title {
  font-size: 56px;
  color: #1b1918;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 67px;
}

.banner__subtitle {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #1b1918;
}

.form_custom-banner {
  outline: none;
  border: none;
  border-radius: 10px;
  width: 954px;
  height: 72px;
  background: #fefefe;
  padding-left: 50px;
}

.form_custom-banner::placeholder {
  color: #1b1918;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.input-with-button {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Выравнивание содержимого справа */
  position: relative;
}

.form__container-banner {
  display: flex;
  position: relative;
}

.form_button-banner {
  margin-left: -211px;
  width: 200px;
  height: 50px;
  background-color: #e91919;
  color: #f8f8f8;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
}
.form_button-banner-icon {
  display: none;
}
.main__baneer--img-mob {
  display: none;
}

@media (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 58px;
  }

  .banner__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .form_custom-banner {
    width: 100%;
    height: 60px;
    font-size: 16px;
    line-height: 20px;
    padding-left: 24px;
    margin-bottom: 7px;
  }

  .form_button-banner {
    height: 60px;
    font-size: 14px;
    line-height: 18px;
    margin-left: 0;
  }

  .input-with-button {
    justify-content: center; /* Центрирование кнопки внутри поля */
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .main__banner--img {
    display: none; /* Скрываем десктопное изображение */
  }

  .main__baneer--img-mob {
    display: block; /* Показываем мобильное изображение */
  }
  .banner__title {
    padding-top: 30px;
    line-height: 0px;
    font-weight: 600;
    font-size: 32px;
    color: #1b1918;
  }

  .input-with-button {
    flex-wrap: wrap;
    gap: 10px;
  }
  .form_custom-banner {
    height: 45px;
  }
  .form_button-banner {
    height: 40px;
  }

  .form_custom-banner::placeholder {
    color: #1b1918;
    font-family: "Golos Text";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }
}

// _____________________________

.main__numbers {
  padding-top: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numbers__heading {
  font-weight: 600;
  font-size: 36px;
  color: #1b1918;
}

.number__row {
  display: flex;
  gap: 20px;
}

.number__item {
  border-radius: 10px;
  // max-width: 467px;
  width: 467px;
  height: 140px;
  background: #fff;
}

.number__block {
  display: flex;
  justify-content: space-between;
}

.number__title {
  padding-top: 37px;
  padding-left: 46px;
  font-weight: 600;
  font-size: 36px;
  color: #1b1918;
  font-family: "Golos Text";
  font-style: normal;
  line-height: 43px;
  box-sizing: border-box;
}

.number__subtitle {
  padding-top: 10px;
  padding-left: 46px;
  color: #1b1918;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  box-sizing: border-box;
}

.number__icon {
  padding-right: 28px;
  padding-top: 15px;
  box-sizing: border-box;
}
