<footer class="footer">
  <div class="container">
    <div class="footer__line"></div>
    <div class="footer__row">
      <div class="footer__logo">
        <div class="logo">
          <img src="../img/logo.png" alt="" />
        </div>
      </div>
      <div class="footer__nav">
        <ul class="footer__nav-menu">
          <li class="link"><a href="#">Телефоны и организации</a></li>
          <li class="link"><a href="#">Новости</a></li>
          <li class="link"><a href="#">Правила</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__political">
      <p>
        © scamcall.ru
        <br />
        <br />
        Вся информация представлена исключительно в качестве ознакомления.
        Полученная информация собирается автоматически программным способом по
        собственному алгоритму в интернете и только с открытых источников.
        Поэтому реальные данные могут отличаться от полученных с интернета. На
        сервере не располагается никакой информации о телефонных номерах, каждая
        проверка выполняет новый поиск в интернете. Любое копирование с сайта
        запрещено.
      </p>
    </div>
  </div>
</footer>
