<header class="header">
  <div class="container">
    <div class="header__row">
      <div class="header__logo">
        <div class="logo">
          <img src="../img/logo.png" alt="" />
        </div>
      </div>
      <div class="header__form">
        <form action="" method="" class="form__container">
          <input
            class="form_custom"
            type="tel"
            id="phone_number"
            name="phone_number"
            placeholder="Введите номер телефона"
          />
          <button class="form_button" type="submit">Найти номер</button>
        </form>
      </div>
      <div class="header__form-mob">
        <img src="../img/svg/main/search-mob.svg" alt="" class="search-mob" />
      </div>
      <div class="header__nav">
        <ul class="header__nav-menu">
          <li class="link"><a href="#">Телефоны и организации</a></li>
          <li class="link"><a href="#">Новости</a></li>
          <li class="link"><a href="#">Правила</a></li>
        </ul>
      </div>
      <div class="burger-menu">
        <button class="burger-menu__button">
          <img src="../img/svg/main/burger.svg" alt="" />
        </button>
        <div class="burger-menu__content">
          <ul>
            <li><a href="#">Телефоны и организации</a></li>
            <li><a href="#">Новости</a></li>
            <li>
              <a href="#">Правила</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
