<main class="main">
  <div class="container">
    <div class="main__banner">
      <div class="main__baneer--img">
        <img src="../img/banner.png" alt="" />
      </div>
      <div class="banner__content">
        <p class="banner__title">Кто звонил?</p>
        <p class="banner__subtitle">
          База телефонных номеров России. Отзывы о номерах, о тех, кто звонил с
          этого номера. Поиск по регионам и организациям
        </p>
        <form action="" method="" class="form__container-banner">
          <div class="input-with-button">
            <input
              class="form_custom-banner"
              type="tel"
              id="phone_number"
              name="phone_number"
              placeholder="Введите номер телефона"
            />
            <button class="form_button-banner" type="submit">
              Найти номер
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
