<main class="main">
  <div class="container">
    <div class="main__banner">
      <div class="main__baneer--img">
        <img src="../img/banner.png" alt="" />
      </div>
      <div class="main__baneer--img-mob">
        <img src="../img/banner-mob.png" alt="" />
      </div>
      <div class="banner__content">
        <p class="banner__title">Кто звонил?</p>
        <p class="banner__subtitle">
          База телефонных номеров России. Отзывы о номерах, о тех, кто звонил с
          этого номера. Поиск по регионам и организациям
        </p>
        <form action="" method="" class="form__container-banner">
          <div class="input-with-button">
            <input
              class="form_custom-banner"
              type="tel"
              id="phone_number"
              name="phone_number"
              placeholder="Введите номер телефона"
            />
            <button class="form_button-banner" type="submit">
              Найти номер
            </button>
            <button class="form_button-banner-icon" type="submit">
              <img
                src="../img/svg/main/button_search.svg"
                alt=""
                class="banner__icone"
              />
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="main__numbers">
      <div class="numbers__heading">Всего в базе</div>
      <div class="number__row">
        <div class="number__item">
          <div class="number__title">711 455 803</div>
          <div class="number__block">
            <div class="number__subtitle">телефона</div>
            <div class="number__icon">
              <img src="../img/svg/main/arrow.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="number__item">
          <div class="number__title">28 449</div>
          <div class="number__block">
            <div class="number__subtitle">комментариев</div>
            <div class="number__icon">
              <img src="../img/svg/main/arrow.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main__comment">
      <div class="comment__title">Последние комментарии</div>
      <div class="comment__block">
        <div class="comment__block--item">
          <div class="comment__item--top">
            <div class="comment__item--top-l">
              <div class="comment__item--num">+7(955)300-03-65</div>
              <div class="comment__item--flag">Мошенники</div>
            </div>
            <div class="comment__item--top-r">
              <div class="comment__item--date">2023-10-31</div>
              <div class="comment__item--time">13:14:52</div>
            </div>
          </div>
          <div class="comment__item--line-container">
            <div class="comment__item--line"></div>
          </div>
          <div class="comment__item--bottom">
            <div class="comment__item--name">John Doe</div>
            <div class="comment__item--text">
              <p>
                Представляются сотрудниками правоохранительных органов и при
                отказе от выполнения требований угрожают. Когда угрозы не
                действуют,<br />
                оскорбляют и сбрасывают трубку.
              </p>
            </div>
            <div class="comment__item--foot">
              <div class="commet__item--tag">Вам помог этот отзыв?</div>
              <button class="commet__item--button-y">
                Да, спасибо
                <img src="../img/svg/main/yes.svg" alt="" class="img__yes" />
              </button>
              <button class="commet__item--button-n">
                Нет
                <img src="../img/svg/main/no.svg" alt="" class="img__no" />
              </button>
            </div>
          </div>
        </div>

        <div class="comment__block--item">
          <div class="comment__item--top">
            <div class="comment__item--top-l">
              <div class="comment__item--num">+7(955)300-03-65</div>
              <div class="comment__item--flag">Мошенники</div>
            </div>
            <div class="comment__item--top-r">
              <div class="comment__item--date">2023-10-31</div>
              <div class="comment__item--time">13:14:52</div>
            </div>
          </div>
          <div class="comment__item--line-container">
            <div class="comment__item--line"></div>
          </div>
          <div class="comment__item--bottom">
            <div class="comment__item--name">John Doe</div>
            <div class="comment__item--text">
              <p>
                Представляются сотрудниками правоохранительных органов и при
                отказе от выполнения требований угрожают. Когда угрозы не
                действуют,<br />
                оскорбляют и сбрасывают трубку.
              </p>
            </div>
            <div class="comment__item--foot">
              <div class="commet__item--tag">Вам помог этот отзыв?</div>
              <button class="commet__item--button-y">
                Да, спасибо
                <img src="../img/svg/main/yes.svg" alt="" class="img__yes" />
              </button>
              <button class="commet__item--button-n">
                Нет
                <img src="../img/svg/main/no.svg" alt="" class="img__no" />
              </button>
            </div>
          </div>
        </div>
        <div class="comment__control">
          <button class="comment__control--btn">Показать еще</button>
          <div class="comment__pagination">
            <span class="comment__pagination--activ">1</span>
            <span class="comment__pagination--default">2</span>
            <span class="comment__pagination--default">3</span>
            <span class="comment__pagination--default">4</span>
            <span class="comment__pagination--default">5</span>
            <button class="comment__pagination--btn">
              <img src="../img/svg/main/arrow_right.svg" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="main__blog">
      <div class="main__blog--title">Блог</div>
      <div class="blog__container">
        <div class="main__blog--item">
          <div class="blog__banner">
            <img src="../img/blog-banner.jpg" alt="" />
          </div>
          <div class="blog__subtitle">Почему мошенники звонят именно мне?</div>
          <div class="blog__desc">
            Телефонное мошенничество — одно из самых частых проявлений
            преступности. Как правило, злоумышленники представляются работниками
            банка и под предлогом «подозрительных» операций по вашему счету
            успешно совершают кражу.
          </div>
          <button class="blog__item--btn">ПОДРОБНЕЕ</button>
        </div>
        <div class="main__blog--item">
          <div class="blog__banner">
            <img src="../img/blog-banner2.jpg" alt="" class="blog-banner-img"/>
          </div>
          <div class="blog__subtitle">
            Как обезопасить себя, если звонят мошенники
          </div>
          <div class="blog__desc">
            На сегодняшний день современный человек использует большое число
            разных высокотехнологичных устройств — это мобильные телефоны,
            планшеты, компьютеры, банковские карты. Новые модели и программы
            продолжают появляться.
          </div>
          <button class="blog__item--btn">ПОДРОБНЕЕ</button>
        </div>
        <div class="main__blog--item">
          <div class="blog__banner">
            <img src="../img/blog-banner3.jpg" alt="" />
          </div>
          <div class="blog__subtitle">
            Способы обеспечения безопасности личных данных при звонках от
            мошенников
          </div>
          <div class="blog__desc">
            Все способы обеспечения безопасности персональных данных, на которые
            посягают при совершении телефонных звонков мошенники, делятся на две
            группы
          </div>
          <button class="blog__item--btn">ПОДРОБНЕЕ</button>
        </div>
      </div>
    </div>
  </div>
</main>
